@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-SemiBold.ttf");
}
// Typography
$font-heading: "Source Sans Pro", serif;
$font-sans-serif: "Lato", sans-serif;
// Colors
$viking: #59dec9;
$lilac: #ffabab;
$aquamarine: #91ffef;
$sherbert: #ffc778;
$mint: #85ffa7;
$lavender: #d283db;
$midnight: #001628;

/********
*********
Bulma Overrides
*********
********/

// Initial
$family-sans-serif: $font-sans-serif;
// Derived
$primary: $viking;
$info: $lavender;
$link: $mint;
$text: $viking;
$text-strong: $viking;
$scheme-main: $midnight;
// Title
$title-family: $font-heading;
